.env
__pycache__/
*.py[cod]
.venv/
venv/
node_modules/
dist/
.vite/

backend/uploads/*
!backend/uploads/.gitkeep

backend/temp/*
!backend/temp/.gitkeep

backend/audio/*
!backend/audio/.gitkeep

*.mp3
*.zip
